<!DOCTYPE html>
<html lang="en" ng-app="">
  <head>
    <meta charset="utf-8">
    <title>Untitled</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src='angular.min.js'></script>
  </head>
<!--
this is me getting started with simple data binding
  <body ng-init="classes='one two three'; title='An excellent title';">
    
    <script src="main.js"></script>
		<div class="{{classes}}">
			<h1>{{title}}</h1>

		</div>
-->
<!--
this is two way data binding and manipulating data in arrays using ng-click
  <body ng-init='numbers=[0,1,2,3,4,5]'>    
    <h2>Enter some text in this input:</h2>
    <input type="text" ng-model="myValue" />
    <h2>See your input value get bound here:</h2>
    <p>{{ myValue }}</p>
        <button ng-click="numbers.pop()">pop</button>
        <button ng-click="numbers.push(myValue)" >push value</button>
        <button ng-click="numbers = void">clear</button>
    <div ng-repeat="number in numbers"> 
      <h1>{{ number }}</h1>
    </div>

  </body>
</html>
-->
<!--
this is ng-if
<body>
  <input type="text" ng-model="myValue" />
  <div ng-if="myValue=='5'" class="pass">
   <p>You have entered 5</p>
    </div>
    <div ng-if="myValue!=='5'" class="fail">You haven't entered anything or entered something other than five.</div>

</body>
-->
<!--
this is a simple ng-switch practice
<body>
    <input type="text" ng-model="myValue" />
    <div ng-switch="myValue">
      <div ng-switch-when="5" class="pass">You have entered 5</div>
      <div ng-switch-when="10" class="pass">You have entered 10</div>
      <div ng-switch-when="15" class="pass">you have entered 15</div>
      <div ng-switch-default="" class="fail">You haven't entered anything or entered something other than 5 or 10 or 15</div>
    </div>

</body>
-->
  <body ng-init='numbers=[0,1,2,3,4,5]'>    
    <h2>Enter some text in this input:</h2>
    <input type="text" ng-model="myValue">
    <h2 >See your input value get bound here:</h2>
    <p ng-class="myValue==5 ? 'true-class': 'flase-class'"/>{{ myValue }}</p>
        <button ng-click="numbers.pop()">pop</button>
        <button ng-click="numbers.push(myValue)" >push value</button>
        <button ng-click="numbers = void">clear</button>
    <div ng-repeat="number in numbers"> 
      <h1 ng-class="myValue==5 ? 'true-class': 'flase-class'"/>{{ number }}</h1>
    </div>

  </body>