<head>
	<link rel="stylesheet" type="text/css" href="../main.css">
</head>

<header class ="masthead">
  <h1 class = "masthead-heading">Tweetful</h1>
  <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>
<div class="info-container">
	<section class="info">  
	  <header>
	  	<h2>About Tweeful</h2>
	  </header>
	  <p>
	  Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
	  </p>
	</section>

	<section class="info">  
	  <header>
	  	<h2>what makes us different</h2>
	  </header>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dignissimos, earum eum necessitatibus sint rem reiciendis nisi rerum accusantium voluptatem maxime incidunt voluptas nemo optio saepe eveniet iste natus quas.</p>
	</section>

	<section class="info">  
	  <header>
	  	<h2>Company history</h2>
	  </header>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam omnis harum temporibus aliquam aut veniam explicabo minus quas, ullam quae at, error, consequatur dolores velit facere culpa fugit dolorem doloremque!</p>
	</section>
</div>
<footer>
  Contact us: <span>admin@tweetful.io</span>
</footer>